body{
   margin: 0px;
}
#me1 img{
    position: absolute;
    width: 1350px;
    height: 690px;
    left: 0px;
    top: 0px;
    filter: blur(8px);
    -webkit-filter: blur(7px);
}
#me1 p{
    position: absolute;
width: 909px;
height: 174px;
left: 276px;
top: 170px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #F8F5F5;

}
#btn{
    position: absolute;
    width: 170px;
    height: 50px;
    left: 630px;
    top: 400px; 
    border-radius: 12px;
    background-color: brown;
}